.main-content {
  display: flex;
  flex-direction: column;
  gap: 183px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.site-header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-item {
  list-style: circle;
}

.nav-item_no-bullet {
  list-style: none;
}

.nav-link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.nav-link_active {
  text-decoration: none;
}

.site-logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.logo-image {
  width: 100%;
}

.contact-address {
  font-style: inherit;
}

.header-address {
  justify-self: end;
  font-style: inherit;
}

.address-link {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address-text {
  font-size: 18px;
  line-height: 1.35;
}

.hero-section {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.hero-title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title-line {
  display: block;
}

.title-line_center {
  line-height: 1;
  text-align: center;
}

.title-line_right {
  line-height: 1;
  text-align: right;
}

.spacing-extended {
  letter-spacing: 60px;
}

.no-spacing {
  letter-spacing: normal;
}

.hero-description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.hero-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cta-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.cta-button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots-section {
  padding: 0 50px;
}

.section-heading {
  padding: 0 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}

.card-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: auto;
  height: 100%;
  padding: 50px 40px;
}

.card_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-description {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 20px;
  line-height: 1.2;
}

.view-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about-column {
  justify-self: center;
}

.about-column_text {
  grid-column: 2/4;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about-logo-image {
  width: 148px;
}

.about-title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-text p {
  font-size: 20px;
  line-height: normal;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.social-icon {
  width: auto;
  height: 48px;
}

.footer-menu {
  text-align: center;
  list-style: none;
}

.footer-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer-link_active {
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 48px;
  list-style: none;
}