body {
  margin: auto;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}

.header {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 50px;
}

.header_links-list {
  display: flex;
  gap: 32px;
}

.header_links-list-item {
  list-style: circle;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.auction {
  padding-left: 3px;
}

.header_links-list-item_no-bullit {
  list-style: none;
  text-decoration: none;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  font-style: normal;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header_address {
  max-width: 236px;
  justify-self: end;
  margin-right: 4px;
  line-height: 24px;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  inset: 0;
  z-index: 2;
}

.top_layer {
  position: relative;
  z-index: 3;
}

.cover_title {
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text_left {
  padding-left: 50px;
  padding-top: 165px;
}

.aligned-text_center {
  padding-left: 380.5px;
  padding-top: 18px;
}

.aligned-text_right {
  padding-left: 663px;
  padding-top: 18px;
}

.cover_description {
  display: flex;
  font-size: 22px;
  gap: 107px;
  justify-content: center;
  padding-top: 105px;
  align-items: center;
}

.cover_description-text {
  text-transform: uppercase;
  word-spacing: 18px;
  color: #fff;
}

.bet-button {
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid currentColor;
  color: #fff;
  padding: 12px 32px 11px 31px;
}

.lots_heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding-left: 40px;
}

.lots {
  margin: 180px 24px 120px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.lots_card-list-item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_card-list {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  padding-bottom: 30px;
}

.card_title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 27px;
  text-underline-offset: 4px;
}

.card_text {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 24px;
}

.lots_look-more-link {
  text-transform: lowercase;
  color: #000;
  font-size: 20px;
  padding-left: 40px;
  text-underline-offset: 4px;
  line-height: 27px;
}

.about {
  margin-left: 24px;
  margin-right: 24px;
}

.about_column {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: 240px auto;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 35px 765px 320px 47px;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 136px;
}

.about_text {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 20px;
  font-weight: 400;
  gap: 24px;
  max-width: 713px;
  padding-top: 43px;
  padding-left: 25px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  margin-top: 180px;
  font-size: 18px;
  margin-bottom: 82px;
}

.footer_address {
  padding-left: 50px;
  line-height: 25px;
}

.footer_menu-list {
  list-style: none;
  justify-items: center;
}

.footer_menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
  padding-right: 50px;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}